.App {
  font-family: 'Work Sans', sans-serif;

  h1 {
    padding: 0.66rem 0;
    text-align: center;
    background-color: #cca353;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    color: #fff;
  }
}
