.BusinessList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 4.4rem 10%;
}

h3 {
  text-align: center;
  color: #cca353;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}
