.BusinessList {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template: 450px / repeat(auto-fill, 16.66rem);
  grid-auto-rows: 450px;
  grid-gap: 2rem;
  margin: 4.4rem 10%;
}

h3 {
  text-align: center;
  color: #cca353;
  margin-top: 4.5rem;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}
